
<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# application.html.erbでjavascript_pack_tagをjavascript_importmap_tagsに置き換えた。
    → rails 7をダウンロードしていて7ではimportmapを使っているから。
    'application', 'data-turbolinks-track': 'reload' の削除
    → importmapに置いては不要だから。 %>
    <%= javascript_importmap_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <p class="header_pageTitle">新着記事</p>
      <div class="dropdown">
        <%= image_tag 'default-avatar.png', class: 'header_avatar dropbtn' %>
        <div class="dropdown-content">
          <a href="#">プロフィール</a>
          <a href="#">ログアウト</a>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
